pretty-midi>=0.2.10
mido
pygame
numpy>=1.26.0
pynput
pyinstaller
pystray
Pillow
pywebview
fastapi
uvicorn
requests
python-dotenv
pyngrok
psutil
cryptography
aiosqlite

dxcam
ollama
googletrans
tqdm
nuitka 
zstandard
pyautogui
keyboard
python-multipart
basic-pitch>=0.3.0
yt-dlp
winocr